<%= form_for(@kraj) do |f| %>
  <% if @kraj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kraj.errors.count, "error") %> prohibited this kraj from being saved:</h2>

      <ul>
      <% @kraj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
