<h3><%=link_to grupa.nazwa,grupa%></h3>
<table  class="table table-striped">
  <tr>
    <th>Miejsce</th>
    <th>Adres</th>
    <th>Godziny</th>
    <th></th>

  </tr>
<%miejsca= grupa.miejsca.includes(:terminy)
  kraj = miejsca.first.try(:kraj)
%>
  <%if kraj%>
  <tr><td><h4><%=link_to kraj.try(:nazwa), kraj%></h4></td><td></td><td></td><td></td></tr>
  <%end%>
  <% miejsca.each do |miejsce| %>

  <%if miejsce.kraj_id != kraj.id%>
    <%kraj = miejsce.kraj%>
    <tr><td><h4><%=link_to kraj.try(:nazwa), kraj%></h4></td><td></td><td></td><td></td></tr>
  <%end%>

  <tr>
    <td><%=link_to miejsce.nazwa,miejsce %></td>
    <td><%= miejsce.ulica %>, <%=miejsce.kod%> <%=miejsce.miasto%></td>
    <td>
       <%miejsce.terminy.each do |t|%>
          <%= t.try(:dzien).try(:nazwa) %>: <%=t.godzina%>
          <%=", " if t!=miejsce.terminy.last%>
       <%end%>
    </td>
    <td><%=link_to "Pokaż",miejsce %></td>
    <%if can? :edit, miejsce%>
    <td><%= link_to 'Edit', edit_miejsce_path(miejsce) %></td>
    <td><%= link_to 'Destroy', miejsce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

