<p id="notice"><%= notice %></p>

<h2>
  <b>Nazwa:</b>
  <%= @miejsce.nazwa %>
</h2>

<p>
  <b>Kraj: </b><%= link_to  @miejsce.kraj.try(:nazwa),@miejsce.kraj %>
</p>
<p>
  <b>Adres: </b><%= @miejsce.ulica %>, <%=@miejsce.kod%> <%=@miejsce.miasto%>
</p>

<p>
  <b>
    Terminy mszy:<br />
  </b>
  <%@miejsce.terminy.each do |t|%>
    <%= t.try(:dzien).try(:nazwa) %>: <%=t.godzina%>
    <%if t.komentarz and not t.komentarz.blank?%>
    - <%=t.komentarz%>
    <%end%>
    <br />
  <%end%>
</p>
<p>
  <b>Odprawiana przez:</b>
  <%= link_to @miejsce.try(:grupa).try(:nazwa),@miejsce.try(:grupa) %>
</p>


<div class="miejsce">
<%= gmaps(:map_options => {:auto_zoom=>false,:zoom=>@miejsce.zoom ? @miejsce.zoom : 10}, :markers => { :data => @json}) %>
</div>
<%= link_to 'Edit', edit_miejsce_path(@miejsce) %> |
<%= link_to 'Back', miejsca_path %>
