<!DOCTYPE html>
<html>
<head>
  <title><%=t(:tytul)%></title>

  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.7.1.min"%>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial=>"layouts/menu_nasze" %>
  <div class="container" style="margin-top:40px">


  <%=yield%>



    </div>

</body>
</html>

